
@{
    ViewData["Title"] = "Service";
}

@{
}
@model List<Service>

    <div class="container">
        <div class="row justify-content-center">
            <h1>Gestion des Services</h1>
        </div>
    </div>

    <br />

    @if (ViewBag.Message != null)
    {
        <div class="row m-1 justify-content-center">
            <div class="alert alert-danger col-6 p-1">
                @ViewBag.Message
            </div>
        </div>
    }

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <input type="button" class="btn btn-primary btn-block" value="Ajouter un service" onclick="location.href='@Url.Action("AddService", "Admin","0")'" />
            </div>
        </div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom du service</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Service s in Model)
                {
                    <tr>
                        <td>@s.Name</td>
                        <td><span><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddService" asp-route-id="@s.IdService"><i class="fas fa-edit"></i></a><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeleteService" asp-route-id="@s.IdService"><i class="fas fa-minus-circle"></i></a></span></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>